{% extends 'base1.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('CategorieEvenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorieE_index') }}">back to list</a>

    {{ include('CategorieEvenement/_delete_form.html.twig') }}
{% endblock %}