{% extends 'base1.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('CategorieEvenement/_form.html.twig') }}

    <a href="{{ path('app_categorieE_index') }}">back to list</a>
{% endblock %}
